@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    color: white;
}
p {
    font-weight: 100;
    color: #c7c7c7;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #222221;
    font-size: 0.95rem;
}
.active {
    display: block!important;
}

/* Nav Left */
.dropdowns {
    display: flex;
    list-style: none;
}
.dropdowns li {
    margin: 0 12px;
    display: flex;
    align-items: end;
    cursor: pointer;
}
.dropdowns li:hover {
    color: #308D46;
}
.dropdowns li i {
    margin-left: 4px;
}
.logo-box {
    position: absolute;
    left: 50%;
}

/* Nav right */
.nav-right {
    display: flex;
    align-items: center;
}
.search {
    cursor: pointer;
}
.sign-in {
    padding: 10px 20px;
    background-color: #273239;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}
.swiper {
    font-size: 0.9rem;
    width: 98%;
    padding: 0 10px!important;
}
.swiper-button-prev {
    left: 0!important;
    color: white!important;
}
.swiper-button-next {
    right: 0!important;
    color: white!important;
}
.swiper-slide {
    width: auto!important;
    margin: 0 15px;
    cursor: pointer;
}
.swiper-slide:hover {
    color: #308D46;
}
/* Hamburger */
.menu-box {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
}
.menu-box span {
    display: block;
    height: 2px;
    width: 100%;
    margin: 6px auto;
    border-radius: 3px;
    background-color: white;
    transition: all 0.2s ease-in;
}
.active .line-1 {
    transform: translateY(8px) rotate(-45deg);
}
.active .line-3 {
    transform: translateY(-8px) rotate(45deg);
}
.active .line-2 {
    opacity: 0;
}

/* Bottom Navbar */
.sub-nav {
    border-top: 1px solid #404040;
    background-color: #222221;
    padding: 12px 0;
}

/* Home section */
.home {
    background-image: linear-gradient(#3B3B3B,#111111);
    text-align: center;
    padding: 1% 10%;
}
.heading {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 35px 0 20px;
}
.search-box {
    background-color: #1D1D1D;
    display: flex;
    margin: auto;
    max-width: 490px;
    border-radius: 15px;
    border: 1px solid #1D1D1D;
    margin-bottom: 14px;
}
.search-text {
    color: black;
    font-size: 1rem;
    padding: 12px;
    width: 90%;
    outline: none;
    border: 1px solid #F2F2F2;
    border-radius: 13px 0 0 13px;
    background-color: #F2F2F2;
    transition: all .3s;
}
.search-box span {
    font-size: 1.1rem;
    padding: 0 23px;
    margin: auto;
}
.search-box span:hover {
    cursor: pointer;
}
.search-text:focus {
    border: 1px solid #0199ff;
    border-bottom-left-radius: 0px;
}
.topics {
    display: flex;
    font-size: .75rem;
    justify-content: center;
}
.topic-list {
    padding: 8px 10px;
    background-color: #252525;
    border-radius: 6px;
    margin: 0 6px;
}

/* Features Section */
.features {
    margin-top: 5%;
    padding: 4%;
    background-image: linear-gradient(#1d1d1e, #111111);
    border-radius: 20px 20px 0 0;
}
.upper {
    display: flex;
    gap: 30px;
}
.feature-box {
    background-color: #2B2B2B;
    max-width: 300px;
    border-radius: 11px;
    text-align: left;
    cursor: pointer;
}
.feature-box img {
    width: 100%;
    height: 80px;
    border-radius: 11px 11px 0 0;
}
.feature-box-lower {
    padding: 0 15px;
}
.feature-box-lower h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 15px 0;
}
.feature-box-lower p {
    font-weight: 200;
    line-height: 22px;
    padding-bottom: 25px;
}

/* Features lower section */
.lower {
    padding: 5% 0 0 0;
}
.second-swiper {
    width: 100%;
    height: 290px;
    padding: 0!important;
    border: 1px solid grey;
    border-radius: 10px;
}
.swiper-pagination {
    bottom: auto!important;
}
.swiper-img {
    width: 60%;
    border-radius: 10px 0 0 10px;
}
.second-swiper-slide {
    width: 100%!important;
    display: flex!important;  
    margin: 0;  
}
.swiper-right {
    width: 40%;
    text-align: left;
    padding: 25px 20px;
}
.swiper-heading {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.swiper-right p {
    line-height: 23px;
    font-size: 1rem;
}

/* Course section */
.courses {
    background-color: #111111;
    padding: 2% 10%;
}
.course-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-between;
    padding: 0 4%;
}
.course-heading {
    font-weight: 500;
    font-size: 1.8rem;
    text-align: left;
    margin: 0 0 15px 4%;
}
.course-box {
    width: 290px;
    text-align: left;
    background-color: #232323;
    border-radius: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}
.course-box img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.box-lower {
    padding: 10px 10px 25px 10px;
}
.box-heading {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 26px;
}
.courses p {
    font-size: 15px;
}
.level {
    display: flex;
    align-items: center;
    gap: 6px;
}
.explore {
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: space-between;
}
.explore p {
    font-size: 11px;
}
.interest {
    display: flex;
    align-items: center;
    gap: 6px;
}
.explore-btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #148761;
    padding: 6px 12px;
    border-radius: 5px;
}
.course-box:hover {
    .explore-btn {
        color: white;
        background-color: #148761;
        cursor: pointer;
    }
}
/* Problem of the day section */
.problem-section {
    background-color: #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4% 0;
}
.problem-box {
    border: 1px solid #308D46;
    border-radius: 8px;
    display: flex;
    width: 80%;
}
.question-box {
    padding: 4%;
}
.potd {
    font-size: 1.3rem;
    font-weight: 400;
    color: #308D46;
}
.question {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 12px 0;
}
.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #D5E8DA;
    width: 45%;
    padding: 4%;
}
.time {
    display: flex;
    text-align: center;
    gap: 30px;
}
.solve-btn {
    background-color: #308D46;
    border: none;
    padding: 14px 30%;
    border-radius: 3px;
    cursor: pointer;
}
.time-inner-box {
    display: flex;
    flex-direction: column;
}
.time-inner-box span {
    color: black;
}
.hr, .min, .sec {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* Footer */
.footer {
    background-color: #111111;
    padding: 20px;
}
.upper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.lower-footer {
    padding-top: 20px;
    text-align: center;
}
.store-img {
    margin: 0 5px;
    cursor: pointer;
}
.social {
    display: flex;
}
.social-icon {
    margin: 0 3px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #1D1D1C;
    cursor: pointer;
}
.social-icon:hover {
    .fa-brands {
        color: white!important;
    }
}
.facebook:hover {
    background-color: #3B5998;
}
.instagram:hover {
    background-color: #E1306C;
}
.linkedin:hover {
    background-color: #0077B5;
}
.youtube:hover {
    background-color: #f00606;
}

@media (width < 1225px) {
    .course-box-container {
        display: grid;
        justify-content:center;
        padding: 0 4%;
        gap: 10px;
    }    
}
@media (width < 1020px) {
    html {
        font-size: 14px;
    }
    .home {
        padding: 1% 4%;
    }
    .courses {
        padding: 2% 4%;
    }
    .feature-box-lower h2 {
        padding: 4% 0;
    }
    .box-lower p {
        padding-bottom: 4%;
    }
    .course-box {
        margin-bottom: 0;
    }
    /* Navbar */
    .logo-box {
        position: static;
    }
    .menu-box {
        display: block;
    }
    .dropdowns {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        top: 55px;
        left: 0;
        background-color: #222221;
        width: 100%;
        padding-bottom: 10px;
        z-index: 10;
        display: none;
    }
    .list-items {
        padding: 10px;
        font-size: 1.2rem;
    }
    
}
@media (width < 850px) {
    .upper {
        flex-direction: column;
    }
    .feature-box {
        display: flex;
        max-width: none;
        align-items: center;
        justify-content: center;
    }
    .feature-box img {
        border-radius: 0;
        width: 30%;
    }
    .feature-box-lower p {
        padding-bottom: 5px;
    }
    .feature-box-lower h2 {
        padding: 10px 0;
    }
    .course-box-container {
        display: flex;
        overflow: scroll;
        justify-content: flex-start;
    }
    .course-box img {
        width: max-content;
    }
    .swiper-img {
        width: 50%;
    }
    .second-swiper {
        height: 200px;
    }
    .swiper-right {
        width: 50%;
        padding: 2% 3%;
    }
    .problem-section {
        padding: 10% 0;
    }
    .problem-box {
        flex-direction: column;
        width: 90%;
    }
    .time-box {
        width: 100%;
    }
    .solve-btn {
        margin-top: 10px;
        padding: 10px 20%;
    }
    .question-box {
        padding: 8%;
        text-align: center;
    }
    .question {
        font-size: 1.3rem;
    }
    /* Footer */
    .upper-footer {
        flex-direction: column;
        text-align: center;
    }
}
@media (width < 550px) {
    .feature-box {
        height: 100px;
    }
    .feature-box img {
        width: 45%;
        height: 75%;
    }
    .feature-box-lower {
        padding-right: 6px;
    }
    .feature-box-lower h2 {
        font-size: 1rem;
        padding: 6px 0;
    }
    .feature-box-lower p {
        line-height: normal;
        font-size: 0.9rem;
    }
    .upper {
        gap: 15px;
    }
    /* Second Swiper */
    .lower {
        margin-top: 20px;
    }
    .second-swiper {
        height: fit-content;
    }
    .swiper-slide {
        flex-direction: column;
    }
    .swiper-img {
        width: 100%;
        border-bottom-left-radius: 0;
    }
    .swiper-right {
        width: 100%;
        margin-top: 5px;
    }
    .courses {
        padding: 8% 4%;
    }
}